head
   title= 'Title of Website'
   meta(name="viewport" content="width=device-width, initial-scale=1")
   meta(charset="utf-8")
   //STYLE SHEET
   link(href='https://fonts.googleapis.com/css?family=Quicksand:300', rel='stylesheet')
   link(href="style.css", rel="stylesheet", type="text/css")
   //JAVASCRIPT
   script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js", type="text/javascript")
   script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js", type="text/javascript")
   script(src="assets/js/app.js", type="text/javascript")

