/*
Theme Name: INSERT THEME NAME
Theme URI: INSERT SITE URL
Author: BFG Marketing, LLC
Author URI: https://bfgcom.com
Description: Theme created by BFG, LLC for CLIENT
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: INSERT TAGS HERE SEPARATED BY COMMAS
Text Domain: themename

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none; }

* {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  font-size: 10px; }

h1, h2, h3, h4, h5, h6, p, small {
  margin: .5rem 0 2rem 0;
  font-family: "Quicksand", sans-serif; }

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem; }

h2 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 4rem; }

h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem; }

h4 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3rem; }

h5 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem; }

h6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem; }

p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem; }

small {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem; }

ol, ul {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  color: #000000;
  padding-left: 0; }
  ol li, ul li {
    margin: 0 0 2rem 3rem;
    padding-left: 1rem; }

a {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  cursor: pointer;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: #56A0D3; }

blockquote {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  margin: 0.5rem auto 2rem; }
  blockquote cite {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    display: block; }

.container {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 15px; }

html body {
  font-family: 'Quicksand', sans-serif; }
  html body header {
    border-bottom: 2px solid #7d97ad;
    padding: 10px 15px;
    text-align: center; }
    html body header .logo img {
      width: 100px; }
    html body header .title h1 {
      font-size: 40px;
      line-height: 36px;
      margin-bottom: 0;
      color: #2d3c49; }
    html body header .title h2 {
      font-size: 18px;
      line-height: 20px;
      color: #2d3c49; }
  html body main section#hero img {
    width: 100%;
    margin: 30px 0; }
  html body main section#featured-work {
    padding: 0 15px; }
    html body main section#featured-work h3 {
      font-size: 34px;
      color: #7d97ad;
      text-align: center; }
    html body main section#featured-work .featured-container .featured {
      margin: 10px 0 30px;
      text-align: center; }
      html body main section#featured-work .featured-container .featured img {
        width: 100%; }
      html body main section#featured-work .featured-container .featured:nth-of-type(3n) {
        margin-right: 0; }
      html body main section#featured-work .featured-container .featured h2 {
        font-size: 30px;
        margin-bottom: 0;
        font-weight: bold;
        line-height: 30px; }
      html body main section#featured-work .featured-container .featured a {
        font-size: 18px;
        margin: 0; }

@media all and (min-width: 768px) {
  html body header {
    overflow: hidden; }
    html body header .logo {
      float: left; }
    html body header .title {
      float: right;
      text-align: right; }
      html body header .title h2 {
        margin-bottom: 0; }
  html body main section#featured-work h3 {
    text-align: left; }
  html body main section#featured-work .featured-container {
    display: flex; }
    html body main section#featured-work .featured-container .featured {
      width: calc(100vw / 3);
      display: inline-block;
      margin: 0 10px; }
      html body main section#featured-work .featured-container .featured:nth-of-type(3n) {
        margin-right: 0; } }
